@keyframes move {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(12px);
    }
}

@keyframes moveMoon {
    0% {
        opacity: 0;
        transform: translateY(0em) rotate(180deg);
    }
    100% {
        opacity: 1;
        transform: translateY(30em) rotate(0deg);
    }
}

@keyframes moveMoonMedia {
    0% {
        opacity: 0;
        transform: translateY(0em) rotate(180deg);
    }
    100% {
        opacity: 1;
        transform: translateY(55em) rotate(0deg);
    }
}

body {
    background-color: #28465c;
    font-family: 'Oxygen';
    height: 100%;
    width: 100%;
    color: white;
    overflow: auto;
    box-sizing: border-box;
}

.background-city {
    background-color: rgb(48, 56, 83);
    background-image: url(../images/chicago2.png);
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% auto;
    background-attachment: fixed, fixed;
    -o-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
}

.moon {
    background-image: url(../images/moon.png);
    position: fixed;
    top: 10px;
    right: 3em;
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% auto;
    width: 10em;
    height: 10em;
    animation: moveMoon 3s forwards;
    overflow: auto;
    z-index: -1;
    border: 1px solid black transparent;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 0fr;
}

.top-container {
    margin: 0 auto;
}

.top-container-svg{
    fill: black !important;
}

.top-container-name {
    font-size: 3em;
    text-align: center;
    color: white;
    filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 1.2));
}

.top-container-title {
    margin: 0;
    text-align: center;
    font-size: 3em;
    padding-top: 1em;
    color: white;
    filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 1.2));
}

.center-container-subtitle {
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
    filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 1.2));
}

.sounds {
    padding: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sound-item {
    flex: 33%;
    padding-bottom: 2em;
}

svg {
    width: 5em;
    margin: 0 auto;
    display: block;
    fill: white;
    filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 1.2));
    -webkit-filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 1.2));
}

.sound-item-click {
    animation: move 0.5s ease-in-out infinite alternate;
    fill: rgb(81, 81, 243);
}

.sound-item-p {
    text-align: center;
}

.bottom-container {
    width: 100%;
}

.bottom-container p {
    margin: 0;
    text-align: center;
    padding: 2em;
}

@media screen and (min-width: 1200px) {
    .center-container {
        width: 1170px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 750px) {
    .background-city {
        background-attachment: scroll;
    }
    .moon {
        width: 5em;
        height: 5em;
        animation: moveMoonMedia 3s forwards;
        position: absolute;
        z-index: 9999;
   
    }
    .top-container {
        width: 80%;
    }
    .top-container-title {
        font-size: 2em;
    }
    .center-container-subtitle {
        font-size: 1.7em;
    }
}