@keyframes move {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(12px);
    }
}

body {
    background-color: #c56874;
    font-family: 'Oxygen';
    height: 100vh;
    background-image: url(../images/original.gif);
    background-attachment: fixed, fixed;
    background-size: auto;
    color: white;
}

/* .lateral{
    position: absolute;
    height: 100vh;
    width: 4em;

} */
.top-container {
    height: 15em;
}

.top-container-logo {
    max-width: 5em;
    max-height: 5em;
    display: block;
    margin: 0 auto;
}

.top-container-title {
    margin: 0;
    text-align: center;
    font-size: 3em;
}

@media screen and (min-width: 1200px) {
    .center-container {
        width: 1170px;
        margin-right: auto;
        margin-left: auto;
    }
}

.center-container-subtitle {
    margin: 0 auto;
    
    text-align: center;
    font-size: 2em;
}

.sounds {
    padding: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sound-item {
    flex: 33%;
    padding-bottom: 2em;
}

.sound-item img {
    width: 5em;
    margin: 0 auto;
    display: block;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

svg{
    width: 5em;
    margin: 0 auto;
    display: block;
    fill: white;
}

.sound-item-click {
    animation: move 0.5s ease-in-out infinite alternate;
    fill: rgb(81, 81, 243);
}

.sound-item-p {
    text-align: center;
}

.bottom-container {
    width: 100%;
}

.bottom-container p {
    margin: 0;
    text-align: center;
    padding: 2em;
}